@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Anton|Arvo:700|Libre+Barcode+39+Text|Jaldi|VT323');
@import url('https://fonts.googleapis.com/css?family=Germania+One|Libre+Barcode+39+Text|Lobster');
/*bold and san= font-family: 'Anton', sans-serif;
regula and not bold= font-family: 'Jaldi', sans-serif;
bold and serif= font-family: 'Arvo', serif;
retro looking= font-family: 'VT323', monospace;*/
	@media all and (max-width: 750px) {
  #page{
    float: none;
    width: auto;
	background-color: rgba(232, 232, 230, 100)
	margin: 3.5% auto;
}
.mob{
	margin: 3.5% auto;
	 background-color: #4444ff;
}

	}

.favorite-item{
		background-color: rgba(232, 232, 230, 0.45);
	margin: auto;
}


.highlight
{
background-color:yellow;
}


#page{
background-color: rgba(232, 232, 230, 0.45);

}
head{
	 background-color: #228B22;
	margin: 5.5% auto;
}
h1 {
	color: #228b22;
	font-family: 'Anton', sans-serif;
	font-size: 54px;
	 text-align: center;
	 
}
h3 {
	font-family: 'VT323', monospace;
	color:#000000;
	font-size: 25px;
	margin: 2.5% auto;	
}
h5 {margin: 1% auto;	

	
}
aboutme a {
	margin: 30% auto;	
}
img {  	   display: block;
    margin: 5.5% auto;
}
li {font size 25px;}
	p {
		color: #000000;
		text-align: center;
		text-align: center;
		font-family: 'Jaldi', sans-serif;
		font-size: 20px;
	}
body{
	background-image: url("cat.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	background-color: #BD2031;
	text-align: center;
	margin: 5.5% auto;
	width:95%;

	
}
			@media all and (max-width: 420px) {
 body {
	 background-image: none;
    float: none;
    width: auto;
	background-color: #BD2031;
	font-family: 'Anton', sans-serif;
}
			}
#bar-code p {font-family: 'Libre Barcode 39 Text', cursive;
font-size: 50px;
	margin: 5.5% auto;
}
#form p {
	margin: 4.5% auto;	
	

}
p{
	background-color: rgba(232, 232, 230, 0.45);
	margin: auto;
	
}
.row1 {
		 display: inline-block;
		 border:1px solid black;
		 vertical-aling: top;
		 	text-align: center;
		width: 25%;
margin: 3%;	
	background-color: rgba(232, 232, 230, 0.45)
}
.row2 {
		 display: inline-block;
		 border:1px solid black;
		 vertical-aling: botum;
		 	text-align: center;
		width: 25%;
margin: 3.5%;	
	background-color: rgba(232, 232, 230, 0.45)
}

#testt {
		color:#ffffff;
	font-family: 'Jaldi', sans-serif;
	font-size: 54px;
	 text-align: center;
	 background-color: rgba(232, 000, 230, 0.45)
}

#copy {
		 background-color: rgba(232, 000, 000, 0.45)
}
#lightbox {
     background: rgba(0,0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    width: 100%;
    height: 300%;
    padding-top: 5%;
}

#lightbox img {
    width: 500px;
    height: 650px;
    border: 5px solid #ffffff;
    
}

#lightbox #exitimage {
    border: none;
    width: 50px;
    height: 50px;
    
    
}
.jumbotron{ 
background-color:#700000;
}